MONGO_URI=mongodb://localhost:27017/sneaker-vault
PORT=3001
API_URL=http://localhost:3001

# MercadoPago - Obtener de https://www.mercadopago.com.ar/developers/panel
MERCADOPAGO_ACCESS_TOKEN=YOUR_MERCADOPAGO_ACCESS_TOKEN
MERCADOPAGO_PUBLIC_KEY=YOUR_MERCADOPAGO_PUBLIC_KEY
